<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Addcust</title>  
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>   
    
</head>  
<body>  
<form method="POST" class="post-form" action="/addcust" enctype="multipart/form-data">  
        {% csrf_token %}  
        <div>  
          <br>    
              <h3>Customer Details</h3>   

              <label>CUSTOMER ID:</label>  
              <div>  
                {{ form.id }}  
              </div>  
             
             
              <label>CUST. NAME:</label>  
              <div>  
                {{ form.name }}  
              </div>  
              
              <label>CUST. EMAIL:</label>  
              <div>  
                {{ form.email }}  
              </div>  
 
              <label>PH. NO. :</label>  
              <div>  
                {{ form.phno }}  
              </div>  
 
          

              <label>CARD TYPE:</label>      
              <div>  
                  {{ form.cardcompany }}  
              </div>
   

              <label>PLATINUM CUSTOMER:</label>      
              <div>  
                  {% for i in form.typeofCust %}
                  {{ i }}  
                  {% endfor %}
                  
              </div>
   
  
              <label>AGE:</label>      
              <div>  
                  {{ form.age }}
              </div>
   
          

              <label>ACC. OPEN DATE:</label>      
              <div>  
                  {{ form.opening_date }}
              </div>
   

              <label>BALANCE LEFT:</label>      
              <div>  
                  {{ form.balance_left }}
              </div>   

              <label>TYPE OF LOANS TAKEN:</label>      
              <div>  
                  {% for i in form.Type_loans %}
                  {{ i }}
                  {% endfor %} 
                  
              </div>
 
  
              <label>ADDRESS:</label>      
              <div>  
                  {{ form.Address }}
                  
              </div>


              <label>PHOTO ID:</label>      
              <div>  
                  {{ form.cust_image }}
              </div>

              <button type="submit">REGISTER</button>  
  
   
          </div> 
</form> 

 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>  
</html>  