<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Customer Records</title>  
     {% load static %}  
     <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
     <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;
        }
    </style>
    
</head>  
<body>  
    <h1>WELCOME TO BANKING CRUD APPLICATION</h1>
<br><br>
<table>  
    <thead>  
    <tr>  
        <th>CUSTOMER ID</th>  
        <th>CUST. Name</th>  
        <th>CUST. EMAIL</th>  
        <th>PH. NO.</th>  
        <th>CARD TYPE</th>  
        <th>PLATINUM MEMBER?</th>  
        <th>Age</th>
        <th>ACC. OPEN DATE</th>
        <th>BALANCE LEFT</th>
        <th>TYPES OF LOAN TAKEN</th>
        <th>ADDRESS</th>
        <th>PHOTO ID</th>
        <th>EDIT/DEL</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for customer in customers %}  
    <tr>  
        <td>{{ customer.id }}</td>  
        <td>{{ customer.name }}</td>  
        <td>{{ customer.email }}</td>  
        <td>{{ customer.phno }}</td>  
        <td>{{ customer.cardcompany }}</td>  
        <td>{{ customer.typeofCust }}</td>  
        <td>{{ customer.age }}</td>  
        <td>{{ customer.opening_date }}</td>  
        <td>{{ customer.balance_left }}</td>  
        <td>{{ customer.Type_loans }}</td>  
        <td>{{ customer.Address }}</td>  
        <td><img src="media/{{customer.cust_image}}" width=75 height=75></td>
        <td>  
            <a href="/edit/{{ customer.id }}">Edit</span></a>  
            <a href="/delete/{{ customer.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br><br><br>   
<a href="/addcust">Add Customer</a>
</body>  
</html>  