<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    
</head>  
<body>  
<form method="POST" class="post-form" action="/update/{{customer.id}}"  enctype="multipart/form-data">  
        {% csrf_token %}  
    <div class="container">  
<br>  
 
    <div>  
    <h3>Update Customer Details</h3>  
    </div>  

  
    <label>CUSTOMER ID:</label>  
    <div>  
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ customer.id }}" disabled/>  
    </div>  


    <label>CUST. NAME:</label>  
    <div>  
        <input type="text" name="name" id="id_name" required maxlength="100" value="{{ customer.name }}" />  
    </div>  
 
   
    <label>CUST. EMAIL:</label>  
    <div>  
        <input type="email" name="email" id="id_email" required maxlength="254" value="{{ customer.email }}" />  
    </div>  

     
    <label>PH. NO.:</label>  
    <div>  
        <input type="number" name="phno" id="id_phno" required maxlength="15" value="{{ customer.phno }}" />  
    </div>  

 
    <label>CARD TYPE:</label>  
    <div>  
      <select name="cardcompany" id="id_cardcompany" selected="{{customer.cardcompany}}">
        <option selected value="{{customer.cardcompany}}">
          
        </option>
        <option value="Visa">Visa</option>
      
        <option value="Mastercard">Mastercard</option>
      
        <option value="Rupay">Rupay</option>
      
        <option value="NA" >NA</option>
      
      </select>
    </div>  
 

  
    <label>PLATINUM MEMBER:</label>  
    <div>  
      <label for="id_typeofCust_0"><input type="radio" name="typeofCust" value="True" id="id_typeofCust_0">
        True</label>
      <label for="id_typeofCust_1"><input type="radio" name="typeofCust" value="False" id="id_typeofCust_1">
        False</label>
    </div>  

  
  
    <label>AGE:</label>  
    <div>  
      <input type="number" name="age" required id="id_age" value="{{ customer.age }}">
    </div>  


   
    <label>ACC. OPEN DATE:</label>  
    <div>  
      <input type="date" name="opening_date" class="form-control" id="id_opening_date" value="{{ customer.opening_date }}">
    </div>  


   
    <label>BALANCE LEFT:</label>  
    <div>  
      <input type="number" name="balance_left" step="any" required id="id_balance_left" value="{{ customer.balance_left }}">
    </div>  


 
    <label>TYPES OF LOANS TAKEN:</label>  
    <div>  
      <label  for="id_Type_loans_0"><input type="checkbox" name="Type_loans" value="Home" id="id_Type_loans_0" >Home</label>
      <label for="id_Type_loans_1"><input type="checkbox" name="Type_loans" value="Vehicle" id="id_Type_loans_1">Vehicle</label>
      <label for="id_Type_loans_2"><input type="checkbox" name="Type_loans" value="Gold" id="id_Type_loans_2">Gold</label>
      <label for="id_Type_loans_3"><input type="checkbox" name="Type_loans" value="None" id="id_Type_loans_3">None</label>
    </div>  


  
    <label>ADDRESS:</label>  
    <div>  
      <textarea name="Address" cols="30" rows="5" required id="id_bio">{{ customer.Address }}</textarea>
    </div>  

 
    <label>PHOTO ID:</label>  
    <div>  
      <input type="file" name="cust_image" accept="image/*" id="id_cust_image" value="{{ customer.cust_image }}">
    </div>  
  
    <div>  
    <button type="submit">UPDATE</button>  
    </div>  
</div>  
 
</form>  
</html>